<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>

</header>
<body>
    <article id="register">
        <h2>Account creation page.</h2>
        <form th:action="@{/register}" th:object="${registerDTO}" method="post">
            <label for="firstName">What's your first name?</label>
            <input type="text" th:field="${registerDTO.firstName}" id="firstName" placeholder="John">
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

            <label for="lastName">What's your last name?</label>
            <input type="text" th:field="${registerDTO.lastName}" id="lastName" placeholder="Doe">
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

            <label for="email">What's your email?</label>
            <input type="text" th:field="${registerDTO.email}" id="email" placeholder="JohnDoe@example.com">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            <label for="password">What's your password?</label>
            <input type="password" th:field="${registerDTO.password}" id="password">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

            <label for="confirmPassword">Confirm the password?</label>
            <input type="password" th:field="${registerDTO.confirmPassword}" id="confirmPassword">
            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>


            <a href="/login">Login instead?</a>
            <input type="submit" value="Create account">

        </form>
    </article>
</body>
<footer>

</footer>
</html>